@media screen and (max-width: 1218px) {
    /* .m-1{
        display: none;
    } */
    .search{
        width: 320px;
    }
    /* .box{
        margin: 7px;
    } */
}
@media  screen and (max-width:1193px) {
   
    .m1{
        width: 80%;
    }
    .m-container{
        justify-content: space-evenly;
    }
    .mob-img{
        height: 150px;
    }
    .m-box{
        padding: 5px;
    }
    .f{
        padding: 20px 30px;
    }
}
@media screen and (max-width: 1041px) {
    .slide-move{
        visibility: hidden;
    }
    .m-1{
        display: none;
    }
    .search{
        font-size: 7px;
    }
    .hl{
        justify-content: left;
    }
    .box{
        margin: 3px;
    }
    .m2{
        display: none;
    }
    .m1{
        width: 100%;
    }
    .m-container{
        justify-content: left;
    }
    .m-lay{
        justify-content: space-around;
    }
    .b-1{
        width: 33%;
    }
    .banner-1{
        padding: 2px 5px;
    }
    .poster{
        display: none;
    }
    .p{
        width: 100%;
        padding: 8px;
    }
    .p2{
        display: flex;
        justify-content: space-around;
        
    }
    .pr{
        margin: 0;
        padding: 4px;
    }
    .f{
        /* grid-template-columns: auto auto auto auto;
        justify-content: center; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0px 20px 30px 20px;
        font-size: 13px;
    }
    .fhe{
        margin-top: 30px;
    }
    .f4{
        padding: 0;
        border: none;
    }
    .f5{
        padding: 0;
    }
    .f-in{
        font-size: 12px;
    }
    .fb{
        padding: 10px;
    }
    .copyright{
        font-size: 12px;
    }
    .f-img-end{
        height: 15px;
        margin: 0;
    }
}
@media screen and (max-width: 510px){
    .f-img{
      width: 80vw;
      box-sizing: border-box;
     }
}
@media screen and (max-width: 780px){
    .mob-img{
        height: 100px;
        padding: 0px;
    }
    .m-box-img{
        display: flex;
        justify-content: center;
    }
    .m-box-name{
        font-size: 13px;
        text-align: center;
    }
    .m-box{
        
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .m-lay{
        display: flex;
        justify-content: space-between;
    }
    .m-container{
        justify-content: left;
        /* padding: ; */
    }
    .m-lay{
        display: flex;
        justify-content: space-between;
    }

.navigation-1{
    visibility: visible;
    display: flex;
    padding-top: 10px;
}
.n1 ,.n2{
    display: none;
}
.navigation-2{
    display: flex;
    justify-content: center;
}
.n-out{
    width: 400px;
    display: flex;
    justify-content: center;
}
.search{
    margin-left: 30px;
    width:100%;
}
.hl{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
 }
 .box{
    padding: 0;
 }
 .p{
    width: 100%;
    padding: 10px;
}
.p2{
    display: grid;
    justify-content: center;
    
}
.pr{
    margin: 10px;
    padding: 10px;
}
.f-in{
    display: none;
}
h1{
    font-size: 16px;
}
.content{
    font-size: 12px;
}
}
@media screen and (max-width: 524px){
    .img{
        height: 60px;
        font-size: 10px;
    }
    .top-offers{
        font-size: 15px;
    }
    .pr{
        margin: 8px;
        padding: 5px;
    }
    .fb-svg{
        height: 10px;
    }
    .copyright{
        font-size: 10px;
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
    .f-img-end{
        
        height:10px;
        width: 200px;
    }
    .fb{
        justify-content: space-between;
    }
    .ad-slider{
        width: 90%;
    }

}
@media screen and (max-width: 450px){
    .n-out{
        width: 100%;
        box-sizing: border-box;
        padding: 0px;
        overflow: hidden;
    }
    .navigation-2{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0px 0px;
        margin: 0px;
        
    }
    .search-a , .search{
        width: 90%;
      padding: 0px;
      margin: 0px;
    }
    .navigate{
        column-gap: 10px;
    }
    .nav-button1 , .nav-button2{
        width: 43%;
    }
    .hl{
       display: grid;
       grid-template-columns: auto auto auto auto;
    }
    .del{
        display: none;
    }
    .p{
        padding: 0px;
    }
    .img{
        height: 50px;
    }
    .top-offers{
        font-size: 15px;
    }
    .pr-name{
        font-size: 15px;
    }
    .pr-img{
        height: 140px;
    }
}
@media screen and (max-width: 373px){
    .pr-img{
        height: 100px;
        
    }
}